.section
  = render 'tasks/new'

-#.section
-#  - flash.each do |name, msg|
-#    = content_tag :div, msg, class: name

.section
  %ul.collection.with-header
    %li.collection-header
      %h4 To Do :
    - @tasks.each do |task|
      %li.collection-item
        = task.name
        = link_to 'Delete', task, method: :delete